# Ignore Python cache and virtual environment files
__pycache__/
*.pyc
*.pyo
*.pyd
*.py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Ignore VS Code-specific files
.vscode/

# Ignore compiled output files
*.svg
*.png

# Ignore pytest cache
.pytest_cache/

# Ignore coverage reports
.coverage
htmlcov/

# Ignore distribution and build files
dist/
build/
*.egg-info/